sudo: required
language: node_js
node_js:
  - "6.9.4"
env:
- NODE_ENV=test
cache:
  directories:
    - node_modules  
services:
  - postgresql
addons:
  postgresql: "9.6"
before_install:
  - psql --version
  - sudo /etc/init.d/postgresql stop
  - sudo apt-get -y --purge remove postgresql libpq-dev libpq5 postgresql-client-common postgresql-common
  - sudo rm -rf /var/lib/postgresql
  - wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
  - sudo sh -c "echo deb http://apt.postgresql.org/pub/repos/apt/ precise-pgdg main 9.6 >> /etc/apt/sources.list.d/postgresql.list"
  - sudo apt-get update -qq
  - sudo apt-get -y -o Dpkg::Options::=--force-confdef -o Dpkg::Options::="--force-confnew" install postgresql-9.6 postgresql-server-dev-9.6
  - sudo chmod 777 /etc/postgresql/9.6/main/pg_hba.conf
  - sudo echo "local   all         postgres                          trust" > /etc/postgresql/9.6/main/pg_hba.conf
  - sudo echo "local   all         all                               trust" >> /etc/postgresql/9.6/main/pg_hba.conf
  - sudo echo "host    all         all         127.0.0.1/32          trust" >> /etc/postgresql/9.6/main/pg_hba.conf
  - sudo echo "host    all         all         ::1/128               trust" >> /etc/postgresql/9.6/main/pg_hba.conf
  - sudo /etc/init.d/postgresql restart
before_script:
  - createuser -U postgres -s travis
  - psql -c 'create database sg_db_test;' -U postgres
  - knex migrate:latest --env test
  - knex seed:run --env test
